@charset "UTF-8";
/* définition des breakpoints dans une map*/
/* Creation des mixins avec pour velurs les clefs de ma map*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  margin: Opx;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container #containerList {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #000000;
}

select {
  cursor: pointer;
}

input {
  cursor: pointer;
}

/*Header*/
header {
  background-color: #000000;
  color: white;
  height: 130px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .logo {
  padding-left: 3%;
}
header .logo h1 a {
  font-family: "Limelight", cursive;
  font-size: 2em;
  color: white;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  header .logo h1 {
    margin-bottom: 0px;
  }
  header .logo h1 a {
    font-size: 1.4em;
    padding-left: 0%;
  }
}
header .headerMenu {
  padding-right: 3%;
}
header .menu {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
}
header .menu ul a {
  color: white;
}
header .menu i {
  color: white;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  header .menu {
    margin-top: 1%;
  }
  header .menu ul {
    padding-left: 15px;
    padding-right: 15px;
  }
}
header .dropdown #in-cart-items-num {
  color: white;
}
header .dropdown ul li {
  color: white;
}
header .dropdown:hover > #cart-dropdown {
  display: block;
  color: white;
}

/* définition des breakpoints dans une map*/
.containerPresentation {
  background-color: #e8e5d9;
  width: 100%;
  height: 350px;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .containerPresentation {
    height: 400px;
  }
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .containerPresentation {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
}
.containerPresentation .presentation {
  display: flex;
  padding: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}
.containerPresentation .presentation h2 {
  font-size: 3rem;
  margin-bottom: 0px;
  text-align: center;
}
.containerPresentation .presentation p {
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .containerPresentation .presentation h2 {
    font-size: 2rem;
  }
  .containerPresentation .presentation p {
    width: 80%;
  }
}

#triangle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  width: 0;
  margin-top: -1px;
  border-top: 50px solid #e8e5d9;
  border-right: 180px solid transparent;
  border-left: 180px solid transparent;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  #triangle {
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
  }
}

.container {
  min-height: 100vh;
}
.container h2 {
  margin-right: 60%;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .container h2 {
    margin-right: 35%;
  }
  .container #listCamera {
    padding: 0;
  }
}

.cameraDetailItem {
  display: flex;
  flex-direction: row;
  padding: 3%;
  height: 500px;
}

.cameraDetailImg img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.cameraDetailText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3%;
  height: 500px;
}
.cameraDetailText h3 {
  font-size: 3rem;
  margin-top: 1%;
}
.cameraDetailText #focusSelect {
  width: 200px;
  height: 2em;
}
.cameraDetailText .cameraDetailPrice {
  font-size: 1.4em;
}
.cameraDetailText #quantite {
  width: 200px;
  height: 2em;
}
.cameraDetailText #inputQte {
  width: 200px;
  height: 2em;
}
.cameraDetailText #btnAddToCart {
  margin-left: 70%;
  width: 300px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.cameraDetailText #btnAddToCart i {
  color: white;
  margin-right: 30px;
}

.popup {
  visibility: hidden;
  position: fixed;
  width: 600px;
  height: 200px;
  background: #e8e5d9;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
  top: 40%;
  left: 30%;
}
.popup h2 {
  display: flex;
  justify-content: center;
}
.popup .closePopup {
  border-radius: 20px;
  margin-left: 93%;
  margin-top: 9px;
  cursor: pointer;
}
.popup .Iconclose {
  color: #000000;
  font-size: 2rem;
}
.popup .btnPopup {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 40%;
}
.popup button {
  background-color: #000000;
  color: white;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  font-size: 1.3rem;
  cursor: pointer;
}
.popup button:hover {
  background: #4d4d4d;
}

.show {
  visibility: visible;
}

#listCamera {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cameraItem {
  width: 300px;
  list-style: none;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 2%;
  margin-bottom: 5%;
}
.cameraItem:hover {
  background: #f2f2f2;
}
.cameraItem a {
  display: flex;
  flex-direction: row;
  padding: 2%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cameraImg {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cameraName {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cameraPrice {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
}

.moreInformation {
  background-color: #000000;
  border-radius: 10px;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  cursor: pointer;
}
.moreInformation i {
  color: white;
}

.formulaire {
  width: 50%;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .formulaire {
    width: 100%;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  padding: 1em;
  background: #e8e5d9;
  border-radius: 15px;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  form {
    width: 90%;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  form {
    width: 90%;
  }
}
form .formItem {
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 7%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
form .formItem label {
  display: inline-block;
  width: 135px;
  font-size: 1.3rem;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  form .formItem label {
    width: 40%;
    text-align: start;
  }
}
form .formItem input {
  font-size: 1.3rem;
  height: 2rem;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 5px;
  background: #f7f6f1;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  form .formItem input {
    width: 50%;
  }
}
form .formItem span {
  color: #c70039;
  visibility: hidden;
  opacity: 0;
}
form #btnValidOrder {
  margin: auto;
  margin-top: 2%;
  font-size: 1.3rem;
  width: auto;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #000000;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  height: 40px;
}

.error input {
  color: #c70039;
  border: 1px solid #c70039;
}

.error span.error {
  visibility: visible;
  opacity: 1;
  color: #c70039;
}

#arrayBasket {
  background-color: #e8e5d9;
  width: 75%;
  margin: auto;
  margin-top: 2%;
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  #arrayBasket {
    width: 95%;
  }
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  #arrayBasket {
    width: 95%;
  }
}

.BasketTable {
  width: 100%;
  border-collapse: collapse;
}
.BasketTable td {
  border: 2px solid #000000;
  margin: 0;
  line-height: 2rem;
}
.BasketTable .titleTable,
.BasketTable .tableName,
.BasketTable .tableAmount {
  text-align: center;
}
.BasketTable .tableLense,
.BasketTable .tableUnitPrice,
.BasketTable .tableTotal {
  text-align: end;
  padding-right: 1%;
}
.BasketTable .tableName img {
  object-fit: cover;
}

.basketItemImg {
  width: 50px;
  height: 50px;
}

.containFooter {
  background-color: #000000;
  height: 90px;
  padding: 2%;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containFooter .footerLink {
  padding-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .containFooter .footerLink {
    flex-direction: column;
    line-height: 1.3em;
  }
}
.containFooter .footerLink .link {
  padding: 2%;
}
.containFooter .footerLink a {
  color: white;
}
.containFooter .footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.containFooter .footerLogo img {
  width: 130px;
  object-fit: cover;
}
.containFooter .footerLogo label {
  color: white;
}
@media screen and (min-width: 250px) and (max-width: 766px) {
  .containFooter .footerLogo {
    line-height: 1.3em;
    text-align: center;
  }
  .containFooter .footerLogo img {
    width: 90px;
    object-fit: cover;
    margin-top: 4%;
  }
}

.presentationTitle {
  animation: anim-title 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes anim-title {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
#containerList {
  animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.cameraDetailImg {
  animation: anim-img-details 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes anim-img-details {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.mainOrder {
  height: 55vh;
}

#orderContainer {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
