.containFooter {
  background-color: $colorSecondary;
  height: 90px;
  padding: 2%;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .footerLink {
    padding-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: row;

    @include media(mobile) {
      flex-direction: column;
      line-height: 1.3em;
    }

    .link {
      padding: 2%;
    }

    a {
      color: white;
    }
  }
  .footerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    img {
      width: 130px;
      //height: 50px;
      object-fit: cover;
    }
    label {
      color: white;
    }
    @include media(mobile) {
      line-height: 1.3em;
      text-align: center;
      img {
        width: 90px;
        object-fit: cover;
        margin-top: 4%;
      }
    }
  }
}
