/*Header*/
header {
  background-color: $colorSecondary;
  color: white;
  height: 130px;
  display: flex;
  justify-content: space-between;
  //padding-right: 3%;
  //padding-left: 3%;
  @include media(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    padding-left: 3%;
    h1 a {
      font-family: "Limelight", cursive;
      font-size: 2em;
      color: white;
    }

    @include media(mobile) {
      h1 {
        margin-bottom: 0px;

        a {
          font-size: 1.4em;
          padding-left: 0%;
        }
      }
    }
  }

  .headerMenu {
    padding-right: 3%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    ul a {
      color: white;
    }
    i {
      color: white;
    }

    @include media(mobile) {
      margin-top: 1%;

      ul {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .dropdown {
    #in-cart-items-num {
      color: white;
    }

    ul li {
      color: white;
    }
  }
  .dropdown:hover > #cart-dropdown {
    display: block;
    color: white;
  }
}
