#listCamera {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cameraItem {
  width: 300px;
  list-style: none;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 2%;

  margin-bottom: 5%;

  &:hover {
    background: lighten($color: #000000, $amount: 95);
  }
  a {
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.cameraImg {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cameraName {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cameraPrice {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  padding-left: 2%;
}

.moreInformation {
  background-color: $colorSecondary;

  border-radius: 10px;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  cursor: pointer;
  i {
    color: white;
  }
}
