.formulaire {
  width: 50%;
  @include media(mobile) {
    width: 100%;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;
  padding: 1em;
  background: $colorPrimary;
  border-radius: 15px;

  @include media(mobile) {
    width: 90%;
  }

  @include media(tablet) {
    width: 90%;
  }
  .formItem {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 7%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    label {
      display: inline-block;
      width: 135px;

      font-size: 1.3rem;
      @include media(mobile) {
        width: 40%;
        text-align: start;
      }
    }

    input {
      font-size: 1.3rem;
      height: 2rem;
      width: 300px;
      box-sizing: border-box;
      border: 2px solid $colorSecondary;
      border-radius: 5px;
      background: #f7f6f1;
      @include media(mobile) {
        width: 50%;
      }
    }

    span {
      color: #c70039;
      visibility: hidden;
      opacity: 0;
    }
  }

  #btnValidOrder {
    margin: auto;
    margin-top: 2%;
    font-size: 1.3rem;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
    background-color: $colorSecondary;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
  }
}

.error input {
  color: #c70039;
  border: 1px solid #c70039;
}

.error span.error {
  visibility: visible;
  opacity: 1;
  color: #c70039;
}
