#arrayBasket {
  background-color: $colorPrimary;
  width: 75%;
  margin: auto;
  margin-top: 2%;
  @include media(tablet) {
    width: 95%;
  }
  @include media(mobile) {
    width: 95%;
  }
}

.BasketTable {
  width: 100%;
  border-collapse: collapse;
  td {
    border: 2px solid $colorSecondary;
    margin: 0;
    line-height: 2rem;
  }
  .titleTable,
  .tableName,
  .tableAmount {
    text-align: center;
  }

  .tableLense,
  .tableUnitPrice,
  .tableTotal {
    text-align: end;
    padding-right: 1%;
  }

  .tableName {
    img {
      object-fit: cover;
    }
  }
}

.basketItemImg {
  width: 50px;
  height: 50px;
}
