* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
  margin: Opx;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  #containerList {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: $colorSecondary;
}

select {
  cursor: pointer;
}
input {
  cursor: pointer;
}
