@import "../utils/variables";

.containerPresentation {
  background-color: $colorPrimary;
  width: 100%;
  height: 350px;
  @include media(tablet) {
    height: 400px;
  }
  @include media(mobile) {
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .presentation {
    display: flex;
    padding: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    h2 {
      font-size: 3rem;
      margin-bottom: 0px;
      text-align: center;
    }
    p {
      width: 50%;
      text-align: center;
      font-size: 1.3rem;
    }
    @include media(mobile) {
      h2 {
        font-size: 2rem;
      }
      p {
        width: 80%;
      }
    }
  }
}

#triangle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  width: 0;
  margin-top: -1px;
  border-top: 50px solid $colorPrimary;
  border-right: 180px solid transparent;
  border-left: 180px solid transparent;
  @include media(mobile) {
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
  }
}

.container {
  min-height: 100vh;
  h2 {
    margin-right: 60%;
  }

  @include media(mobile) {
    h2 {
      margin-right: 35%;
    }
    #listCamera {
      padding: 0;
    }
  }
}
