.cameraDetailItem {
  display: flex;
  flex-direction: row;
  padding: 3%;
  height: 500px;
}

.cameraDetailImg {
  img {
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
  }
}

.cameraDetailText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3%;
  height: 500px;

  h3 {
    font-size: 3rem;
    margin-top: 1%;
  }

  #focusSelect {
    width: 200px;
    height: 2em;
  }

  .cameraDetailPrice {
    font-size: 1.4em;
  }

  #quantite {
    width: 200px;
    height: 2em;
  }

  #inputQte {
    width: 200px;
    height: 2em;
  }

  #btnAddToCart {
    margin-left: 70%;
    width: 300px;
    background-color: $colorSecondary;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    i {
      color: white;
      margin-right: 30px;
    }
  }
}

.popup {
  visibility: hidden;
  position: fixed;
  width: 600px;
  height: 200px;
  background: $colorPrimary;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
  top: 40%;
  left: 30%;
  h2 {
    display: flex;
    justify-content: center;
  }
  .closePopup {
    border-radius: 20px;

    margin-left: 93%;
    margin-top: 9px;
    cursor: pointer;
  }
  .Iconclose {
    color: $colorSecondary;
    font-size: 2rem;
  }

  .btnPopup {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 40%;
  }
  button {
    background-color: $colorSecondary;
    color: white;
    height: 50px;
    width: 250px;
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
      background: lighten($color: $colorSecondary, $amount: 30);
    }
  }
}

.show {
  visibility: visible;
}
