//animation titre page acceuil
.presentationTitle {
  animation: anim-title 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes anim-title {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

//animation container liste
#containerList {
  animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

///////////////// animation image détail produit

.cameraDetailImg {
  animation: anim-img-details 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes anim-img-details {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
